body {
	background-color: #f2dfd7 !important;
}

.font {
	font-family: 'Space Mono', monospace;
}

input {
	display: inline-block;
	justify-content: center;
	width: 20em;
}

.none {
	display: none;
}

div.card {
	width: 25em !important;
}

.tasks-list {
	background-color: #fef9ff;
	font-size: 3em !important;
	font-family: 'Space Mono', monospace;
}

.alignment {
	display: flex;
	justify-content: space-between;
}

.btn {
	background-color: #9f9fed !important;
	border: 0.1em solid #00241b !important;
}

#taskCard {
	border: none;
	background-color: #d4c1ec;
}

.card {
	border-radius: 30px !important;
}

#error {
	width: 20em;
}

/* .form-center {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
} */
