.card-body {
    width: 20em;
    padding: 5em;
}

.tasks-list {
	font-size: 4em !important;
	font-family: "quicksand" Georgia, 'Times New Roman', Times, serif;
}

.alignment {
	display: flex;
	justify-content: space-between;
}

.btn {
	background-color: #93e5ab !important;
	border: 0.1em solid #00241b !important;
}